@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */
body {
  @apply bg-gray-900 text-white;
}

button {
  @apply bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded;
}


.custom-background-blur {
  /* position: relative; */
 
  transform: translate(-40%, -50%);
  background: radial-gradient(circle at 20% 30%, #43D9AD, transparent 70%), radial-gradient(circle at 70% 70%, #4D5BCE, transparent 70%);
  filter: blur(60px);
}

.glassmorphic {
  background: rgba(255, 255, 255, 0.261);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.348);
}

.code-container {
  background: transparent;
  color: #d6deeb;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.code-keyword {
  color: #c792ea;
}

.code-string {
  color: #ecc48d;
}

.code-comment {
  color: #637777;
  font-style: italic;
}

.code-number {
  color: #f78c6c;
}
